/* base */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/work-sans-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: url('/assets/fonts/work-sans-v19-latin-italic.woff2') format('woff2'),
       url('/assets/fonts/work-sans-v19-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/assets/fonts/work-sans-v19-latin-700.woff2') format('woff2'),
       url('/assets/fonts/work-sans-v19-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url('/assets/fonts/work-sans-v19-latin-900.woff2') format('woff2'),
       url('/assets/fonts/work-sans-v19-latin-900.woff') format('woff');
}

body {
  font-family: "Work Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: var(--light);
  background-color: var(--dark);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

em,
i {
  font-style: italic;
}

:root {
  --dark: #0a0d15;
  --light: #d4cfc6;
  --other: #5543db;
  --other_dark: #5a5963;
  --l: 1024px;
  --m: 768px;
  --s: 576px;
  --u: 1rem;
}

html {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px 0 40px 0;
}

a {
  color: white;
}

a:hover {
  color: var(--other);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}

ul li a {
  line-height: 2;
}

.content {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration a {
  text-decoration: none;
}

.no-decoration a:visited {
  color: var(--other_dark);
}

.full {
  width: 100%;
}

span.toctitle {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 900;
  text-transform: uppercase;
}

blockquote {
  padding: 1em;
  margin: 0 0 2em 0;
  border-left: 2px solid var(--other);
  color: var(--light);
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
}

blockquote::before,
blockquote::after {
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: var(--light);
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

blockquote p {
  display: inline;
  font-weight: 700;
}

@media only screen and (min-width: 576px) {
  .content {
    max-width: 540px;
    padding: 0 20px;
  }  
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 720px;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    max-width: 1080px;
    padding: 0 20px;
  }
}
/* end base */
