/* post */
.post {
  max-width: 780px;
  margin: 0 auto;
}

article h1 {
  margin: 0 0 calc(var(--u, 1rem) * 0.25) 0;
  text-align: center;
  font-size: calc(var(--u, 1rem) * 1.6);
}

article p.post-meta {
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}

.post-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  user-select: none;
  background-color: var(--dark, #333);
}

.post-image {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  max-width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.post-image-vertical {
  max-width: 300px;
  border-radius: 8px;
  display: block;
  margin: 1.5rem auto;
  box-shadow: 0 4px 16px rgb(255 255 255 / 15%);
}

.post-image-horizontal {
  max-width: 100%;   
  border-radius: 8px;
  height: auto;      
  display: block;    
  margin: 0 auto;
  box-shadow: 0 4px 16px rgb(255 255 255 / 15%);
}

.post-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media only screen and (min-width: 576px) {
  .post-nav {
    flex-direction: row;
  }

  .post-image {
    margin-bottom: 30px;
    height: 350px;
  }

  article h1 {
    font-size: calc(var(--u, 1rem) * 2.2);
    margin-bottom: calc(var(--u, 1rem) * 0.5);
  }
}

.post-after {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 40px;
  border-top: 1px solid var(--light, #ccc);
  border-bottom: 1px solid var(--light, #ccc);
}

@media only screen and (min-width: 768px) {
  .post-image {
    height: 450px;
    margin-bottom: 40px;
  }

  article h1 {
    font-size: calc(var(--u, 1rem) * 2.7);
    margin-bottom: calc(var(--u, 1rem) * 1);
    text-align: left;
  }

  .post-after {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1024px) {
  .post-image {
    height: 550px;
    margin-bottom: 50px;
  }

  article h1 {
    font-size: calc(var(--u, 1rem) * 3);
    margin-bottom: calc(var(--u, 1rem) * 1.5);
  }
}
/* end post */
