@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-italic.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-700.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --dark: #0A0D15;
    --light: #d4cfc6;
    --other: #2e228f;
    --l: 1024px;
    --m:  768px;
    --s:  576px;
    --u: 1rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: var(--light);
    background-color: var(--dark);
    font-size: 16px;
    padding: 20px;
}

main {
    margin: 20px 0;
}

.content {
    max-width: 98%;

    @media only screen and (min-width: var(--s)) {
        max-width: 480px;
    }

    @media only screen and (min-width: var(--m)) {
        max-width: 560px;
    }

    @media only screen and (min-width: var(--l)) {
        max-width: 740px;
    }
}

/* typography */
h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

em, i {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}

a {
    color: white;
}
/* end typography */


/* layout etc */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
/* end layout etc */