@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-italic.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-900.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --dark: #0A0D15;
    --light: #d4cfc6;
    --other: #2e228f;
    --l: 1024px;
    --m:  768px;
    --s:  576px;
    --u: 1rem;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: var(--light);
    background-color: var(--dark);
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px 0 40px 0;
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

em, i {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}

a {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: none;
}

.content {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.no-decoration {
    text-decoration: none;
}

.full {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .content {
        max-width: 540px; /* Adjust as needed */
    }
}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 720px; /* Adjust as needed */
    }
}

@media only screen and (min-width: 1024px) {
    .content {
        max-width: 960px; /* Adjust as needed */
    }
}
