@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-italic.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v19-latin-700.woff2') format('woff2'),
         url('/assets/fonts/work-sans-v19-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --dark: #0A0D15;
    --light: #d4cfc6;
    --other: #2e228f;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: var(--light);
    background-color: var(--dark);
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

em, i {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}

a {
    color: white;
}


/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li a:hover {
    color: var(--other);
}
/* end header */