/* page */
.page {
  max-width: 780px;
  margin: 0 auto;
}

section h1 {
  margin: 0 0 calc(var(--u, 1rem) * 0.25) 0;
  text-align: center;
  font-size: calc(var(--u, 1rem) * 1.6);
}

section p.page-meta {
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}

.page-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  user-select: none;
  background-color: var(--dark, #333);
}

.page-image {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  max-width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .page-image {
    margin-bottom: 30px;
    height: 350px;
  }

  section h1 {
    font-size: calc(var(--u, 1rem) * 2.2);
    margin-bottom: calc(var(--u, 1rem) * 0.5);
  }
}

@media only screen and (min-width: 768px) {
  .page-image {
    height: 450px;
    margin-bottom: 40px;
  }

  section h1 {
    font-size: calc(var(--u, 1rem) * 2.7);
    margin-bottom: calc(var(--u, 1rem) * 1);
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .page-image {
    height: 550px;
    margin-bottom: 50px;
  }

  section h1 {
    font-size: calc(var(--u, 1rem) * 3);
    margin-bottom: calc(var(--u, 1rem) * 1.5);
  }
}
/* end page */
