<!-- templates/archive.html -->
{% extends "base.html" %} {% block post_css %}
<link
  rel="stylesheet"
  href="/{{ meta['site']['assets']['dir_css'] }}/post.css"
/>
{% endblock %} {% block content %}
<article>
  {% if meta['page'].img %}
  <div class="row full">
    <div class="post-image full">
      <img
        src="/{{ meta['site']['assets']['dir_img']}}/{{meta['page'].img}}"
        alt="{{meta['page'].title}}"
      />
    </div>
  </div>
  {% endif %}
  <h1>{{ meta['page'].title }}</h1>
  <div>
    <p>
      todo Don't worry, it happens to the best of us. Maybe the page moved or the
      link was mistyped. But no need to fret – here's what you can do:
    </p>
    <ul>
      <li>Double-check the URL – Sometimes, it's just a small typo.</li>
      <li>Head back to our homepage – Where all the action happens.</li>
      <li>Explore the Archive – Find hidden treasures from past posts.</li>
    </ul>
    <p>
      And if you're feeling lost or need a hand, feel free to contact us. We're
      always here to help!
    </p>
  </div>
</article>
{% endblock %}
