<!DOCTYPE html>
<html lang="{{ meta['site'].lang_html }}">
<head>
    {% include 'head.html' %}
    {% block landing_css -%}{% endblock -%}
    {% block archive_css -%}{% endblock -%}
    {% block post_css -%}{% endblock -%}
</head>
<body>
    <div class="content">
    {% include 'header.html' %}

    <main>
        
        {% block content %}
        <!-- Main content will be overridden in other templates -->
        {% endblock %}
        
    </main>

    {% include 'footer.html' %}
    </div>
</body>
</html>
