<footer class="column">
    <div class="row">
        <div class="footer-disclaimer">
            <h3 class="footer-section-title">Section 1</h3>
            <p>todo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim libero turpis, eget commodo purus condimentum et. Duis feugiat urna et ipsum tempus euismod. Nulla vulputate ultrices eros, ac molestie velit mollis eget. Nulla sed augue nec risus tempor ornare. </p>
        </div>
        <div class="footer-subscribe">
            <h3 class="footer-section-title">Section 2</h3>
            <div class="form-wrapper">
                <form action="your-mailing-list-sign-up-url" method="post">
                    <label class="screen-reader-text" for="email">todo email</label>
                    <input type="email" id="email" name="email" placeholder="todo email">
                    <button type="submit">todo subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer-copyright">
            <p>{{ meta['site']['copyright'] }} &copy; {{ meta['site']['logo'] }}</p>
        </div>
    </div>
</footer>
