<footer class="column">
    <div class="row">
        <div class="footer-disclaimer">
            <p>todo disclaimer</p>
        </div>
        <div class="footer-subscribe">
            <form action="your-mailing-list-sign-up-url" method="post">
                <label class="screen-reader-text" for="email">todo email</label>
                <input type="email" id="email" name="email" placeholder="todo email">
                <button type="submit">todo subscribe</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="footer-copyright">
            <p>{{ meta['site']['copyright'] }} &copy; {{ meta['site']['logo'] }}</p>
        </div>
    </div>
</footer>
