{% block head %}

{% set title = meta['site']['title'] -%}
{% if meta['post'] and meta['post']['title'] -%}
    {% set title = meta['post']['title'] -%}
{% elif meta['page'] and meta['page']['title']-%}
    {% set title = meta['page']['title'] -%}
{% endif -%}

{% set description = meta['site']['description'] -%}
{% if meta['post'] and meta['post']['description'] -%}
    {% set description = meta['post']['description'] -%}
{% elif meta['page'] and meta['page']['description']-%}
    {% set description = meta['page']['description'] -%}
{% endif -%}

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="{{ image }}">

    <!-- Additional tags for CSS, favicons, etc. -->
    {% block additional_head %}{% endblock %}
</head>
{% endblock %}
