
{% macro set_title(meta) %}
    {% set title = meta['site']['title'] %}
    {% if meta['post'] and meta['post']['title'] %}
        {% set title = meta['post']['title'] %}
    {% elif meta['page'] and meta['page']['title'] %}
        {% set title = meta['page']['title'] %}
    {% endif %}
    {{- title -}}
{% endmacro %}

{% macro set_description(meta) %}
    {% set description = meta['site']['description'] %}
    {% if meta['post'] and meta['post']['description'] %}
        {% set description = meta['post']['description'] %}
    {% elif meta['page'] and meta['page']['description'] %}
        {% set description = meta['page']['description'] %}
    {% endif %}
    {{- description -}}
{% endmacro %}

{% macro set_url(meta) %}
    {% set url = meta['site']['url'] ~ '/' %}
    {% if meta['post'] and meta['post']['description'] %}
        {% set url = meta['site']['url'] ~ '/' ~ meta['post']['url'] %}
    {% elif meta['page'] and meta['page']['description'] %}
        {% set url = meta['site']['url'] ~ '/' ~ meta['page']['url'] %}
    {% endif %}
    {{- url -}}
{% endmacro %}

{% macro set_img(meta) %}
    {% set img = meta['site']['url'] ~ '/' ~ meta['site']['assets']['dir_img'] ~ '/' ~ meta['site']['default_img'] ~ '/' %}
    {% if meta['post'] and meta['post']['img'] %}
        {% set img = meta['site']['url'] ~ '/' ~ meta['site']['assets']['dir_img'] ~ '/' ~ meta['post']['img'] ~ '/' %}
    {% elif meta['page'] and meta['page']['img'] %}
        {% set img = meta['site']['url'] ~ '/' ~ meta['site']['assets']['dir_img'] ~ '/' ~ meta['page']['img'] ~ '/' %}
    {% endif %}
    {{- img -}}
{% endmacro %}
