{% extends "base.html" %}

{% block post_css %}
    <link rel="stylesheet" href="/{{ meta['site']['assets']['dir_css'] }}/post.css">
{% endblock %}

{% block content %}
    <article>
        <div class="row full">
            <div class="post-image full">
                {% if meta['post'].img %}
                <img src="/{{ meta['site']['assets']['dir_img']}}/{{meta['post'].img}}" alt="{{meta['post'].title}}">
                {% else %}
                <img src="/{{ meta['site']['assets']['dir_img']}}/{{meta['site'].default_img}}" alt="{{meta['post'].title}}">
                {% endif %}
            </div>
        </div>
        <h1>{{ meta['post'].title }}</h1>
        <p class="post-meta">{{ meta['post'].date.strftime('%d.%m.%Y') }} - {{ meta['post'].read_time }} todo read time</p>
        <div>
            {{ meta['content'] | safe }}
        </div>
    </article>
{% endblock %}
